<style>
	.form-container {
		margin-left: 50px;
	}
	input {
		margin-bottom: 5px;
	}
	body {
		min-height: 100vh;
		max-height: 100vh;
		background-image: url(http://i.imgur.com/eToSrio.jpg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
</style>

<h1>Log In!</h1>

<div class="form-container">
	<%= form_for :login do |f| %>
		<%= f.text_field :email, placeholder: 'E-mail' %><br>
		<%= f.password_field :password, placeholder: 'Password' %><br>
		<%= f.submit 'Login' %>
	<% end %>
</div>
