<style>
	body {
		min-height: 100vh;
		max-height: 100vh;
		background-image: url(http://i.imgur.com/EE2XSpX.jpg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.main {
		font-size: 50px;
		text-align: center;
		margin-top: 130px;
	}
	.sub-header {
		font-size: 30px;
		text-align: center;
		margin-top: -5px;
	}
</style>

<div class="main">SiteSeer</div>
<div class="sub-header">See the the sites of your dreams</div>
<div class="sub-header">& re-view those you've already seen</div>
